<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CityWorks™</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="./static/config/env.js"></script>
    <script src="./static/config/url.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="bookmark" href="/static/images/favicon/favicon.ico" type="image/ico">
</head>
<body>
    <div id="app"></div>
</body>
<script src="./static/config/projectConfig.js"></script>
<script>
  console.log("version : ", projectConfig.version);
</script>
</html>