.menu-wrap.menu-wrap-h{
    width: .8rem;
}
.menu-wrap {
    height: 100%;
    float: left;
    height: 100%;
    background-color: #142145;
    z-index: 2;
    transition: all .3s ease;
    .left-wrap{
        height: 100%;
        .menu-cont {
            position: relative;
            float: left;
            width: 0.7rem;
            overflow: auto;
            height: 100%;
            border-right: 1px solid #010205;
            background-color: #142145;
            z-index: 2;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            .menu-list {
                width: 100%;
                height: 100%;
                li {
                    border-bottom: 1px solid #010205;
                    padding: 0.2rem 0;
                    cursor: pointer;
                    span{
                        color: $fontcolor;
                        font-size: .14rem;
                        display: block;
                        text-align: center;
                        width: 43%;
                        margin: 0 auto;
                    }
                }
                li.active{
                    background: $hovernemu;
                    i{
                        color: #fff;
                    }
                    span{
                        color: #fff
                    }
                }
                li:hover{
                    background: $hovernemu;
                    i{
                        color: #fff;
                    }
                    span{
                        color: #fff
                    }
                }
            }
            .menu-icon{
                text-align: center;
                color: $fontcolor;
                margin: .01rem 0;
                i{
                    font-size: .22rem;
                    

                }
            }
        }
    }
    .menu-detail {
        float: left;
        overflow: auto;
        width: 2.35rem;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;
        transition: all .3s ease;
        position: relative;
        .menu-rk .messlist-tit{
            font-size: 0.14rem
        }
        .icon-yanjing{
            font-size: .1rem
        }
        .menu-rk .list-wrap{
            background: $leftdeatil
        }
        .messlist span {
            font-size: .13rem
        }
        .shouqi{
            position: absolute;
            right: 0.1rem;
            top: 0;
            height: 0.36rem;
            line-height: 0.36rem;
            color: $fontcolor;
            i{
               
                font-size: .08rem;
                display: inline-block;
            }
        }
    }
    .menu-detail.menudetailnone{
        width: 0;
    }
}

/**
*animation
*/
.m-content-enter-active {
    transition: all .3s ease;
}

.m-content-leave-active {
    transition: all .3s ease;
}

.m-content-enter, .m-content-leave-active {
    transform: translateX(-100%);
    opacity: 0;
}
